<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml'
    xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='x-ua-compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='x-apple-disable-message-reformating' />
    <title>*|MC:SUBJECT|*</title>
    <link rel='preconnect' href='https://fonts.gstatic.com' />

    <style type='text/css'>
        .ctn {
            background-color: #edf2f7;
            text-align: center;
            padding: 15px;
            height: auto;
        }

        .box-btn {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .box {
            text-align: left;
            margin: auto;
            width: 50vw;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 20px;
            height: auto;
        }

        .button {
            background-color: #3D4852;
            border: none;
            padding: 8px 24px;
            text-align: center;
            text-decoration: none;
            display:
                inline-block;
            font-size: 12px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
        }

        .text-line {
            color:
                #3D4852;
        }

        .sign {
            width: 50vw;
            margin: auto;
            text-align: left;
        }

        .footer {
            border-top: 1px solid #adb0b3;
            padding-top: 20px;
            width:50vw;
            text-align:left;
            margin:20px auto auto;
        }
    </style>
</head>

<body>
    <div class='ctn'>
        <h2 class='text-line' style='text-align: center;'>
            I'am Brave
        </h2>
        <div class='box'>
            <div class='text-line' style='font-weight: bold; margin-bottom: 15px;'>     
                Hello!
            </div>
            <div style='margin-bottom: 15px;'>
                Below is FB link
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100004330573580">Link</a>
                    </div>
                </div>
            </div>
            <div class="sign">
                Regard,
                <br/>
                Brave N
            </div>
            <div class='footer'>
                <div style='margin-bottom: 15px;'>Website:
                    <a href='https://www.facebook.com/profile.php?id=100004330573580'>Link</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>